.card{
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 468px;
    max-width: 350px;
    min-width: 285px;
    flex-basis: 285px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: var(--main-border-radius);

    background-color: var(--main-color-hex);
    
    z-index: 1;
    perspective: 1000px;
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
    width: 80%;
    height: 50%;
    padding: 10px 10px;
    border-radius: 4px;
    
    background-color: var(--main-color-rgba);

}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2;
    gap: 15px;
    
    height: 96%;
    width: 96%;
    border-radius: var(--main-border-radius);
    
    background: linear-gradient(-38deg, rgba(95, 21,21, 1), rgba(255, 32, 32, 1)); 
}

.top-left{
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;
    border-top-left-radius: var(--main-border-radius);
    
    background-color: var(--main-color-hex);
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
    
    width: 25px;
    height: 25px;
    border-top-right-radius: var(--main-border-radius);

    background-color: var(--main-color-hex);
}

.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 25px;
    height: 25px;
    border-bottom-left-radius: var(--main-border-radius);

    background-color: var(--main-color-hex);

}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: 25px;
    height: 25px;
    border-bottom-right-radius: var(--main-border-radius);

    background-color: var(--main-color-hex);

}



.card-inner{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    transform-style: preserve-3d;
    transition: transform 0.6s;

    backface-visibility: hidden;
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}

.front-card, .back-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    height: 96%;
    width: 96%;
    border-radius: var(--main-border-radius);
    background: linear-gradient(-38deg, rgba(95, 21,21, 1), rgba(255, 32, 32, 1)); 

    backface-visibility: hidden;

}

.front-card{
    z-index: -1;
    
}
.back-card{
    transform: rotateY(180deg);

    z-index: 1;
}

.edit-card{
    position: absolute;
    align-items: center;
    justify-content: center;

}
.background-image{
    position: absolute;
    z-index: -1;
    
    height: 100%;
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--main-border-radius);
    
    opacity: 16%;
}

.book-title-container{
    text-align: center;
    
    width: 80%;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    
    background-color: var(--main-color-rgba);

}

#book-title{
    font-size: 2.4rem;
    font-weight: 300;

}


.text-container{
    display: flex;
    align-items: center;
    
    gap: 15px;
    width: 90%;
    height: 30px;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;

    
    font-size: 3.6rem;
}

.book-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;


    height: 25px;
    width: 100%;
}


.icon{
    height: 35px;
}

.mark-read-container{
    display: flex;
    align-items: center;
    
    gap: 10px;
    margin-top: auto;

    font-size: 2.6rem;
}



.id-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 85%;
    padding: 3px 0;
    border-radius: 15px;
    
    background-color: var(--main-color-rgba);

    font-size: 2.4rem;
}

#book-id{
    font-size: 1.1rem;
}

.error-text{
    color: rgb(133, 13, 13);
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: 500;
}

#icon-read{
    cursor: pointer;
    height: 20px;

}


