*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root{
    --main-color-hex: #FF5439;
    --main-color-rgba: rgba(255, 84, 57, 0.72);
    --main-border-radius: 15px;
}

.icon-lg{
    height: 65px;
    width: 65px;
}

.options{
    display: flex;

}

button{
    cursor: pointer !important;
}